*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.home{
    min-height: 100vh;
    height: auto;
    background: rgb(15,15,15);
    background-position: center;
    background-size: cover;
    position: auto;
}

/* Button Config */
a{
    color: rgb(194, 44, 64);
    font-variant: normal;
}

/* Navigation Panel Config */

.header{
    width: 100%;
    padding: 14px 0% 14px 0%;
    background: rgb(0,0,0);
    color: rgb(255,255,255);
    text-decoration: none;
    position: auto;
    text-align: center;
    font-size: 10px;
    font-style: italic;
    border-bottom: 1px solid rgba(50,50,50);
}

.header h1{
    font-size: 24px;
}

/* Footer Config */
.footer{
    width: 100%;
    padding: 14px 0% 14px 0%;
    background: rgb(0, 0, 0);
    color: rgb(200,200,200);
    text-decoration: none;
    position: auto;
    text-align: center;
    font-size: 10px;
    font-style: italic;
}

.main{
    color: #fff;
    text-align: center;
    padding-top: 14px;
    margin: auto;
}

.values{
    color: #fff;
    text-align: center;
    padding-top: 14px;
    margin: auto;
    display: inline-flex;
}

.row-headers{
    margin:auto;
    color: #fff;
    width:100%;
    position: auto;
    text-align: left;
    padding-left: 12px;
    padding-top: 8px;
    padding-right: 24px;
    font-size: 18px;
    font-weight: 300;
}

.row-boxes{
    margin: auto;
    color: #ffffffc4;
    text-align: left;
    padding-top: 12px;
    padding-right: 24px;
    font-size: 20px;
}

.input-box{
    background-color: #ffffffc4;
    width: 75px;
    height: 32px;
    padding: 4px;
    margin-top: 6px;
    text-align: right;
    font-size: 16px;
    border: 0px;
}

.row p{
    font-size: 20px;
}

.btn {
    background-color: #ffffffc4;
    width: 180px;
    height: 36px;
    padding: 4px;
    margin-top: 6px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    border: 0px;
    color: #000000;
}

.small-btn{
    width: 100px;
    height: 24px;
    font-size: 12px;
}

.btn:hover{
    background-color: rgb(194, 44, 64);
    color: #000000;
}

.brand-name{
    font-size: 12px;
    padding-bottom: 4px;
    font-weight: 600;
}

.item-name{
    font-size: 14px;
    padding-bottom: 4px;
}

.barcode{
    max-width: 250px;
    border: 10px solid white;
}

.invis{
    opacity: 0%;
}

.max-width-600{
    max-width: 600px;
}

.max-width-700{
    max-width: 700px;
}


::-moz-selection {
    color: #fff;
    background: rgb(255, 99, 120);
}

::selection {
    color: #fff;
    background: rgb(255, 99, 120);
}